/*********************** ES COPYRIGHT START  *********************************
  @copyright(disclaimer)
  
  Licensed Materials - Property of IBM
  5724-Z21
  (C) Copyright IBM Corp. 2003, 2012
  
  US Government Users Restricted Rights
  Use, duplication or disclosure restricted by GSA ADP Schedule
  Contract with IBM Corp.
  
  DISCLAIMER OF WARRANTIES :
  
  Permission is granted to copy and modify this Sample code, and to
  distribute modified versions provided that both the copyright
  notice, and this permission notice and warranty disclaimer appear
  in all copies and modified versions.
  
  THIS SAMPLE CODE IS LICENSED TO YOU "AS-IS".
  IBM  AND ITS SUPPLIERS AND LICENSORS  DISCLAIM
  ALL WARRANTIES, EITHER EXPRESS OR IMPLIED, IN SUCH SAMPLE CODE,
  INCLUDING THE WARRANTY OF NON-INFRINGEMENT AND THE IMPLIED WARRANTIES
  OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN NO EVENT
  WILL IBM OR ITS LICENSORS OR SUPPLIERS BE LIABLE FOR ANY DAMAGES ARISING
  OUT OF THE USE OF  OR INABILITY TO USE THE SAMPLE CODE, DISTRIBUTION OF
  THE SAMPLE CODE, OR COMBINATION OF THE SAMPLE CODE WITH ANY OTHER CODE.
  IN NO EVENT SHALL IBM OR ITS LICENSORS AND SUPPLIERS BE LIABLE FOR ANY
  LOST REVENUE, LOST PROFITS OR DATA, OR FOR DIRECT, INDIRECT, SPECIAL,
  CONSEQUENTIAL,INCIDENTAL OR PUNITIVE DAMAGES, HOWEVER CAUSED AND REGARDLESS
  OF THE THEORY OF LIABILITY, EVEN IF IBM OR ITS LICENSORS OR SUPPLIERS
  HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
  
  @endCopyright
 *********************** ES COPYRIGHT END  ***********************************/
   
/* Dialog Styling*/
.edr .dijitDialog {
	background-color: transparent;
	overflow: hidden;
	border: 0;
}

/* Close icon for the dialog */
.edr .dijitDialog .closeIcon {
	float: right;
	padding: 2px 5px;
}

.edr .dijitDialog .contentOuter {
	background-color: #FFF;
	border-left: 1px solid #666666;
	border-right: 1px solid #666666;	

}

.edr .dijitDialog .contentInner {	
	padding: 5px;
}

/* Make sure hidden input fields have a display:none 
   style to avoid a dojo bug with dialogs finding the wrong
   first and last focusable input fields */
.edr .dijitDialog input { /*this is for IE/WIN only*/
	display: expression(this.type=="hidden"?'none':'');
}

.edr .dijitDialog input[type="hidden"] { 
	display: none; 
}

/* Dialog Form Styling */
.edr .dialogForm .input-text, .dialogForm textarea {
	display: block;
	width: 40%;
	float: left;
	margin-bottom: 10px;	
}

.edr .dialogForm label {
	text-align: right;
	width: 40%;
	padding-right: 20px;
	float: left;
	margin-bottom: 10px;
}

.edr .dialogForm br {
	clear: left;	
}

.edr .dialogForm {
	margin-top: 9px;
}

.edr .dialogForm .dialogHeader {
	padding: 0px 9px 9px;
}

.edr .progress-dialog {
	height: 50px;	
}

.ExportSearchDialog .dijitComboBox {
	width: 100%;
}