<div class="SearchApplicationCustomizePane AnalyticsOptionsPane">
	<div>${messages_customizer_analytics_max_lines}:
		<table>
			<tbody>
				<tr><th></th><th>${messages_customizer_common_default}</th><th>${messages_customizer_common_available}</th></tr>
				<tr configkey="analytics.facets.numberOfResults" messagekey="analytics.view.title.category" configtype="numberlist"><td></td><td><input type="text" value="" class="dijitComboBox" style="width: 60px;" /></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
				<tr configkey="analytics.deviations.numberOfResults" messagekey="analytics.view.title.topic" configtype="numberlist"><td></td><td><input type="text" value="" class="dijitComboBox" style="width: 60px;" /></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
				<tr configkey="analytics.trends.numberOfResults" messagekey="analytics.view.title.delta" configtype="numberlist"><td></td><td><input type="text" value="" class="dijitComboBox" style="width: 60px;" /></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
				<tr configkey="analytics.facetPairs.numberOfRowResults" messagekey="customizer.analytics.2dmap_rows" configtype="numberlist"><td></td><td><input type="text" value="" class="dijitComboBox" style="width: 60px;" /></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
				<tr configkey="analytics.facetPairs.numberOfColumnResults" messagekey="customizer.analytics.2dmap_columns" configtype="numberlist"><td></td><td><input type="text" value="" class="dijitComboBox" style="width: 60px;" /></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
			</tbody>
		</table>
	</div>
</div>