<div class="SearchApplicationCustomizePane AnalyticsOptionsPane">
<table style="margin-bottom: 1.5em;">
	<tbody>
		<tr><th></th><th>${messages_customizer_common_default}</th><th>${messages_customizer_common_available}</th></tr>
		<tr configkey="analytics.facets.numberOfResults" messagekey="customizer.preferences.analytics.facets.numberOfResults" configtype="numberlist"><td></td><td><input type="text" value="" class="dijitComboBox" style="width: 60px;" /></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr configkey="analytics.facets.defaultSortBy" messagekey="customizer.preferences.analytics.facets.defaultSortBy" configtype="select"><td></td><td><select dojoType="dijit.form.FilteringSelect" dir="ltr"><option value="frequency">${messages_customizer_preferences_analytics_sortByFrequency}</option><option value="correlation">${messages_customizer_preferences_analytics_sortByCorrelation}</option></select></td></tr>
		<tr configkey="analytics.facets.defaultShowTarget" messagekey="customizer.preferences.analytics.facets.defaultShowTarget" configtype="select"><td></td><td><select dojoType="dijit.form.FilteringSelect" dir="ltr"><option value="keywords">${messages_customizer_analytics_common_listTarget_keyword}</option><option value="subfacets">${messages_customizer_analytics_common_listTarget_subcategory}</option></select></td></tr>
	</tbody>
</table>
</div>