<div class="SearchApplicationCustomizePane facetChartsPane" >
	<div style="width:98%;padding:5px;">
		<div style="width:48%;float:left;">
			<div>${messages_customizer_charts_facet_header}:</div>
			<div dojoAttachPoint="addFacetChartsButtonId"></div>
			<div dojoAttachPoint="facetChartsBody"></div>
		</div>
		<div style="width:48%;float:left;">
			<div dojoAttachPoint="configNode">
				<div>${messages_customizer_charts_facet_section1}:
					<table>
						<tbody>
							<tr configkey="facetTree.enable" messagekey="facetTree.enable" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
							<tr configkey="facetTree.titleKey" messagekey="facetTree.titleKey"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
							<tr configkey="facetTree.maxValues.default" messagekey="facetTree.maxValues.default"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
							<tr configkey="facetTree.maxValues.all" messagekey="facetTree.maxValues.all"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
							<tr configkey="facetTree.open" messagekey="facetTree.open" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
						</tbody>
					</table>
				</div>
				<br />
				<div>${messages_customizer_charts_facet_section2}:
					<table>
						<tbody>
							<tr configkey="documentLabelTree.enable" messagekey="documentLabelTree.enable" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
							<tr configkey="documentLabelTree.titleKey" messagekey="documentLabelTree.titleKey"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
							<tr configkey="documentLabelTree.maxValues.default" messagekey="documentLabelTree.maxValues.default"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
							<tr configkey="documentLabelTree.maxValues.all" messagekey="documentLabelTree.maxValues.all"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
							<tr configkey="documentLabelTree.open" messagekey="documentLabelTree.open" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
						</tbody>
					</table>					
				</div>		
			</div>
		</div>
	</div>
</div>