<div class="SearchApplicationCustomizePane ScreenSettingsPane">
<div>${messages_customizer_screen_section1}:
<table>
	<tbody>
		<tr configkey="banner.file" messagekey="banner"><td></td><td><input dojoAttachPoint="input_config_banner_file" type="text" value="" class="dijitComboBox" dojoAttachEvent="onchange:_onBannerChange" /></td></tr>
		<tr configkey="displayedApplicationName" messagekey="prompt.displayed.application.name"><td></td><td><input type="text" value="" class="dijitComboBox" dojoAttachEvent="onchange:_onDisplayNameChange" /></td></tr>
		<tr configkey="search.backgroundImage" messagekey="backgroundImageName"><td></td><td><input type="text" value="" class="dijitComboBox" dojoAttachEvent="onchange:_onBackgroundChange" /></td></tr>
		<tr configkey="bannerLeft.backgroundImage" messagekey="bannerLeft"><td></td><td><input type="text" value="" class="dijitComboBox" dojoAttachEvent="onchange:_onBannerLeftChange" /></td></tr>
		<tr configkey="bannerBody.backgroundImage" messagekey="bannerImageName"><td></td><td><input type="text" value="" class="dijitComboBox" dojoAttachEvent="onchange:_onBannerCenterChange" /></td></tr>
		<tr configkey="bannerRight.backgroundImage" messagekey="bannerRight"><td></td><td><input type="text" value="" class="dijitComboBox" dojoAttachEvent="onchange:_onBannerRightChange" /></td></tr>
	</tbody>
</table>
</div>
<hr />
<div>
${messages_customizer_screen_section2}:
<table>
	<tbody>
		<tr configkey="link.preferences.show" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" dojoAttachEvent="onClick: _onShowChange" /></td></tr>
		<tr configkey="link.myProfile.show" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" dojoAttachEvent="onClick: _onShowChange" /></td></tr>
		<tr configkey="link.help.show" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" dojoAttachEvent="onClick: _onShowChange" /></td></tr>
		<tr configkey="link.about.show" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" dojoAttachEvent="onClick: _onShowChange" /></td></tr>
		<tr dojoAttachPoint="logoffElement" configkey="link.logOff.show" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" dojoAttachEvent="onClick: _onShowChange" /></td></tr>
	</tbody>
</table>
</div>
<!-- <hr />
<div>
${messages_customizer_screen_section3}:
<table>
	<tbody>
		<tr configkey="field.defaultIcon"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
	</tbody>
</table>
<table style="margin-top: 1em; margin-left: 3em;">
	<thead>
		<tr><th>${messages_fieldName}</th><th>${messages_fieldImage}</th><th>&nbsp;</th></tr>
	</thead>
	<tbody dojoAttachPoint="fieldImageBody">
	</tbody>
</table>
<button dojoType="dijit.form.Button" dojoAttachEvent="onClick: _addFieldRow">${messages_button_addRow}</button>
</div> -->
</div>