<div class="SearchApplicationCustomizePane ServerSettingsPane">
<div>${messages_customizer_server_section1}:
<table>
	<tbody>
		<tr configkey="hostname"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
		<tr configkey="port"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
		<tr configkey="protocol" configtype="select"><td></td><td><select dojoType="dijit.form.FilteringSelect"><option value="http">${messages_protocol_http}</option><option value="https">${messages_protocol_https}</option></select></td></tr>
		<!--  <tr configkey="username" messagekey="customizer.text.imc.username.label"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr> -->
		<!--  <tr configkey="password" messagekey="customizer.text.imc.password.label"><td></td><td><input type="password" value="" class="dijitComboBox" /></td></tr> -->
		<tr configkey="applicationName" messagekey="prompt.application.name"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
		<tr configkey="trustStore"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
		<tr configkey="trustPassword"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
		<tr configkey="logging.level" configtype="select" messagekey="prompt.loggingLevel"><td></td><td><select dojoType="dijit.form.FilteringSelect"><option value="SEVERE">${messages_prompt_loggingLevel_severe}</option><option value="INFO">${messages_prompt_loggingLevel_info}</option><option value="FINE">${messages_prompt_loggingLevel_fine}</option><option value="ALL">${messages_prompt_loggingLevel_all}</option></select></td></tr>
		<tr configkey="timeout"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
		<tr configkey="customizerDisabled" configtype="bool" messagekey="customizer.no.palette"><td>Customizer disabled</td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
		
	</tbody>
</table>
</div>
<!-- 
<hr />
<div>
${messages_customizer_server_section2}:
<table>
	<tbody>
		<tr configkey="showMessage.error" configtype="bool"><td></td><td style="width: 180px;"><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
		<tr configkey="showMessage.warning" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
		<tr configkey="showMessage.info" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
		<tr configkey="showMessage.success" configtype="bool"><td></td><td><input dojoType="dijit.form.CheckBox" value="" /></td></tr>
	</tbody>
</table>
</div>
 -->
</div>