<div class="SearchApplicationCustomizePane AnalyticsOptionsPane">
<table>
	<tbody>
		<tr configkey="analytics.timeseries.defaultTimeScale" messagekey="customizer.preferences.analytics.timeseries.defaultTimeScale" configtype="select">
			<td></td>
			<td>
				<select dojoType="dijit.form.FilteringSelect">
					<option value="year">${messages_customizer_$_year}</option>
					<option value="month">${messages_customizer_$_month}</option>
					<option value="day">${messages_customizer_$_day}</option>
					<option value="month_of_year">${messages_customizer_$_month_of_year}</option>
					<option value="day_of_month">${messages_customizer_$_day_of_month}</option>
					<option value="day_of_week">${messages_customizer_$_day_of_week}</option>
				</select>
			</td>
		</tr>
	</tbody>
</table>
</div>