<div class="SearchApplicationCustomizePane TopResultChartsPane" >
	<div style="width:98%;padding:5px;">
		<div style="width:48%;float:left;">
			<div>${messages_customizer_charts_topResults_header}:</div>
			<div dojoAttachPoint="addTopResultChartsButtonId"></div>
			<div dojoAttachPoint="topResultsChartsBody"></div>
		</div>
		<div style="width:48%;float:left;">
			<div dojoAttachPoint="configNode">
				<table>
					<tbody>
						<tr configkey="topResult.resultSize" messagekey="topResult.resultSize"><td></td><td><input type="text" value="" class="dijitComboBox" /></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>