<div tabindex="0" style="overflow-y:auto;overflow-x:hidden;position:relative;">
	<table border="0" cellpadding="0" cellspacing="0" dojoAttachPoint="chartContainer"
		style="white-space:nowrap; table-layout:fixed; position:absolute; left:0px; top0px; width:100%;">
		<thead dojoAttachPoint="chartHeaderContainer">
		</thead>
		<tbody dojoAttachPoint="chartBodyContainer">
		</tbody>
		<tfoot dojoAttachPoint="chartFooterContainer">
		</tfoot>
	</table>
	<div dojoAttachPoint="dummyDiv" style="width:100%;height:0px;"/>
	<span dojoAttachPoint="hiddenSpan" style="visibility:hidden;position:absolute;"></span>
</div>