<div style="padding:10px">
<div>
<form>
<fieldset dojoAttachPoint="viewLayoutGroup" style="width:90%;border:1px solid black;padding:10px;">
<legend>Default View Layout</legend>
<input type="radio" name="vl" value="1" dojoType="dijit.form.RadioButton"/>&nbsp;<label>Layout Type1</label><br/>
<input type="radio" name="vl" value="2" dojoType="dijit.form.RadioButton" checked="checked"/>&nbsp;<label>Layout Type2</label><br/>
<input type="radio" name="vl" value="3" dojoType="dijit.form.RadioButton"/>&nbsp;<label>Layout Type3</label><br/>
<input type="radio" name="vl" value="4" dojoType="dijit.form.RadioButton"/>&nbsp;<label>Layout Type4</label><br/>
</fieldset>
<br/>
<fieldset dojoAttachPoint="searchPaneGroup" style="width:90%;border:1px solid black;padding:10px;">
<legend>Search Pane</legend>
<input type="checkbox" name="sp" value="basicSearchPane" dojoType="dijit.form.CheckBox" checked="checked"/>&nbsp;<label>Basic Search</label><br/>
<input type="checkbox" name="sp" value="advancedSearchPane" dojoType="dijit.form.CheckBox" checked="checked"/>&nbsp;<label>Advanced Search</label><br/>
<input type="checkbox" name="sp" value="facetSearchPane" dojoType="dijit.form.CheckBox" checked="checked"/>&nbsp;<label>Facet</label><br/>
<input type="checkbox" name="sp" value="dynamicFieldChartSearchPane" dojoType="dijit.form.CheckBox" checked="checked"/>&nbsp;<label>Dynamic Field Chart</label><br/>
<input type="checkbox" name="sp" value="fileSizeSearchPane" dojoType="dijit.form.CheckBox" checked="checked"/>&nbsp;<label>File Size Chart</label><br/>
</fieldset>
</form>
</div>
</div>
