<div class="textareaContainer" id="${id}textareaContainerId" dojoAttachPoint="textareaContainer">
  <div class="textareaContainerTop">
    <div class="textareaContainerTopLeft"></div>
    <div class="textareaContainerTopMiddle"></div>
  </div>
  <div class="textareaContainerMiddle" id="${id}textareaContainerMiddleId" dojoAttachPoint="textareaContainerMiddle">
    <div class="textareaContainerMiddleLeft"></div>
    <div class="textareaContainerMiddleMiddle" id="${id}textareaContainerMiddleMiddleId" dojoAttachPoint="textareaContainerMiddleMiddle">
      <div class="textareaContent">
	    <textarea title="${title}" style="border: none; background-image: none; overflow: auto;" id="${id}textarea" dojoAttachPoint="containerNode"></textarea>
	  </div>
	</div>
	<div class="textareaContainerMiddleRight"></div>
  </div>
  <div class="textareaContainerBottom">
	<div class="textareaContainerBottomLeft"></div>
	<div class="textareaContainerBottomMiddle"></div>
  </div>
</div>
