<div class="dijit dijitToolbar ToolbarContainer" waiRole="toolbar">
	<div class="ToolbarContainerTop">	
		<div class="ToolbarContainerTopLeft"></div>
		<div class="ToolbarContainerTopMiddle"></div>
	</div>
	<div class="ToolbarContainerMiddle">
		<div class="ToolbarContainerMiddleLeft"></div>
		<div class="ToolbarContainerMiddleMiddle">											
			<div class="ToolbarContent">
				<div dojoAttachPoint="containerNode"></div>
			</div>
		</div>
	</div>
	<div class="ToolbarContainerBottom">	
		<div class="ToolbarContainerBottomLeft"></div>
		<div class="ToolbarContainerBottomMiddle"></div>
	</div>
</div>
