<div>
	<form dojoAttachPoint="analytcsTimeSeriesOptionsForm" style="width:100%;height:100%;">
		<div style="padding:5px;width:98%;" title="">
			<label for="${prefix}defaultTimeScaleIdForTimeSeries">${messages_preferences_analytics_timeseries_defaultTimeScale}:</label>
			<br/>
			<select dojoAttachPoint="defaultTimeScale" id="${prefix}defaultTimeScaleIdForTimeSeries" dojoType="dijit.form.FilteringSelect" name="timeseriesDefaultTimeScale" searchAttr="label" labelAttr="label">
			</select><br/><br/>	
		</div>
	</form>	
</div>